@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply bg-slate-950 text-slate-50;
  }

  .sudoku {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
  }
}
